/* 
.container{
    display:flex;
    flex-direction:row;
    background-color: blueviolet;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.item{
    background-color: aquamarine;
    padding: 20px;
    
} */

.grid-container{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    background-color: rgb(4, 14, 23);
    border-radius: 25px;
    padding: 20px;
    justify-content:space-around;
    margin: auto;

}


.grid-item{
    background-color: blue;
    color: rgb(232, 239, 239);
    border: 5px solid black;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    
}